.projects h3 {
    text-align: center;
    color: #cccfd3;
}

.projects {
    display: block;
}

.project-list {
    display: flex;
    margin: 12px auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.project-list h3 {
    text-transform: none;
    overflow: hidden;
    margin: 0;
    color: #000;
}

.project {
    background-color: gainsboro;
    display: block;
    width: auto;
    min-width: 200px;
    max-width: 200px;
    text-align: center;
    margin: 4px 8px;
    border-radius: 4px;
}