.appbar {

}

.appbar .button {
    //background-color: #cccfd3;
    position: absolute;
    bottom: 0;
    top: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    display: flex;
    padding: 0 10px;
    text-transform: none;
}

@media screen and (max-width: 600px) {
    .appbar .barlogo img {
        display: none;
    }
}

.appbar .button:hover {
    background-color: #1c2945;
    cursor: pointer;
}

.appbar .barlogo {
    display: flex;
    margin: auto auto;
    cursor: pointer;
}

.appbar .barlogo img {
    height: 50px;
}

.appbar .button h4 {
    margin: 18px 8px;
    font-size: 14pt;
    display: flex;
    font-weight: lighter;
    color: #cccfd3;
}