.modules {
    display: flex;
    max-width: 90vw;
    width: auto;
    flex-direction: row;
    margin: 10px auto 0 auto;
}

.module {
    border-radius: 2vh;
    max-width: 28vw;
    margin: 2vw;
    width: 28vw;
    display: block;
    height: 80vh;
    position: relative;
    background-size: cover;
    cursor: pointer;
}

.module:hover {
    transform: scale(1.05);
    transition: all ease 500ms;
}

.module h2 {
    color: #eaeaea;
}

.module .footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.module .title {
    margin: 40px 0;
    padding: 8px 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.module .title h2 {
    font-size: calc((3vh + 2.8vw) / 2.2);
    margin: 10px;
    text-align: center;
}

.module .progress {
    margin: 20px 0;
    padding: 8px 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.module .progress h2 {
    display: block;
    font-size: 4vh;
    text-align: center;
}

.module .stars-bar {
    display: block;
    width: auto;
    margin: 20px auto;
    padding: 8px 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.module .stars-bar h2 {
    margin: 0;
    display: block;
    font-size: 4vh;
    text-align: center;
}

.module .stars-bar h3 {
    margin: 8px 0 0 0;
    display: block;
    font-size: 3vh;
    text-align: center;
    color: #e6e6e6;
}

.module .lock {
    margin: 0 auto 20px auto;
    padding: 20px 0;
}

.lessons {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: 32px auto;
}

.lessons .lesson {
    display: block;
    padding: 4px 12px;
    margin: 4px;
    width: 100%;
    font-size: 20px;
    text-transform: none;
    text-align: left;
}

.lessons .details {
    width: 100%;
    max-width: 600px;
}

.lessons h3 {
    margin: 0;
}

.lessons .details .description {
    width: 100%;
}

.lessons .details .buttons {
    display: flex;
    float: right;
    width: auto;
}