.logo {
    background: url(https://static.slimecode.ru/img/ide/icon.png) no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    display: block;
}

.notification {
    display: block;
    background-color: gainsboro;
    border-radius: 5px;
    padding: 4px;
    margin-left: auto;
    width: 200px;
    text-align: center;
    cursor: pointer;
}

.paper .right {
    margin: 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (max-width: 600px){
    .logo {
        margin: 0 auto;
        width: 100px;
        height: 100px;
    }
}

.div-row .progress {
    margin: auto 8px 8px 8px;
}

.notification:hover {
    background-color: #bababa;
}
