/*
.ide {
    position: absolute;

}

.ide div {
    display: flex;
    flex-direction: column;
    font-size: 19pt;
    font-family: Consolas, monaco, monospace;
}

.ide input {
    background-color: #171f32;
    border: none;
    color: transparent;
    font-size: 19pt;
    font-family: Consolas, monaco, monospace;
    padding: 0 10px;
    width: auto;
}

.line {
    flex-direction: row;
}

.line div {
    border: none;
    color: #cccfd3;
    font-size: 19pt;
    font-family: Consolas, monaco, monospace;
    width: 40px;
    padding-right: 20px;
    text-align: right;
}

.line div:hover {
    cursor: pointer;
    background-color: #cccfd3;
}

.ide input:focus {
    background-color: #263352;
    outline: none;
}*/
