.tasks {
    max-width: 800px;
    margin: 16px auto;
}

.task h3 {
    margin: 0;
    display: inline-block;
}

.task .buttons {
    display: flex;
    width: max-content;
    margin: 8px 0 0 auto;
}

.task .button {
    text-transform: none;
    padding: 4px 6px;
    line-height: 14pt;
    max-width: 50%;
    width: 50%;
    height: 44px;
    margin: 8px 4px;
    display: block;
    background-color: #172037;
    color: #fff;
}

.task .button:hover {
    background-color: #1f3756;
}

.task .stars-bar {
    display: flex;
    flex-direction: row;
    float: right;
}

@media screen and (max-width: 600px){
    .task .button {
        font-size: 8pt;
    }
}

.lesson {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 4px;
}

.lesson h2 {
    margin: 0 0 8px 0;
    padding: 8px;
    text-align: center;
}

.lesson .description {
    margin: 0 8px;
    padding: 16px;
    font-size: 14pt;
}

.lesson .description h3 {
    color: black;
    text-align: center;
    margin: 6px 0;
}

.lesson .description h4 {
    margin: 0;
    color: black;
}

.lesson-page h2 {
    text-align: center;
    color: #cccfd3;
}