body, html {
    background-color: #172037;
}

.ide-main {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    background-color: #172037;
}

.ide {
    display: flex;
    flex-direction: column;
    max-height: 80%;
    width: 100%;
}

.line-span {
    display: flex;
    flex-direction: row;
}

.ide-counter div {
    #background-color: #101727;
    #border-right: 1px solid #101727;
    width: 60px;
    font-size: 2vh;
    font-family: Consolas, monaco, monospace;
    color: #cccfd3;
    text-align: center;
    display: block;
}

.selected-counter {
    background-color: #212d48;
}

.ide-input {
    position: absolute;
    width: calc(100% - 60px);
}

.ide-input textarea {
    background-color: transparent;
    border: none;
    font-size: 2vh;
    font-family: Consolas, monaco, monospace;
    color: transparent;
    caret-color: #ffd562;
    outline: none;
    width: 100%;
    resize: none;
    word-wrap: normal;
    display: inline-table;
    padding: 0;
}

.ide-input textarea::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #1d2840;
}

.ide-input textarea::-webkit-scrollbar
{
    width: 12px;
    background-color: transparent;
}

.ide-input textarea::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #D62929;
}

.hljs {
    padding: 0;
    font-size: 2vh;
    font-family: Consolas, monaco, monospace;
    background-color: transparent;
}

pre {
    margin: 0;
}