@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.welcome {
    display: flex;
    flex-direction: column;
    margin: 20% auto;
    max-width: 800px;
    text-align: center;
}

.welcome span {
    font-size: 32pt;
    color: #cccfd3;
    font-family: 'Russo One', sans-serif;
}

.welcome input {
    background: transparent;
    border-color: transparent;
    border-bottom: 2px solid #1c2945;
    padding: 5px 15px;
    color: #fff;
    font-size: 48px;
    outline: none;
    margin: 24px 0;
    text-align: center;
    width: auto;
    font-family: 'Russo One', sans-serif;
}

.welcome button {
    display: block;
    margin: 24px auto;
    height: 80px;
    width: 220px;
    color: #fff;
    border: none;
    font-size: 48px;
    outline: none;
    border-radius: 5px;
    background-color: #1f3756;
    font-family: 'Russo One', sans-serif;
    cursor: pointer;
}

.welcome button:hover {
    background-color: #233a56;
}

.welcome .end {
    -webkit-animation: span-animation2 1500ms; /* Safari 4+ */
    -moz-animation: span-animation2 1500ms; /* Fx 5+ */
    -o-animation: span-animation2 1500ms; /* Opera 12+ */
    animation: span-animation2 1500ms; /* IE 10+, Fx 29+ */
}

.welcome .start {
    -webkit-animation: span-animation1 2s; /* Safari 4+ */
    -moz-animation: span-animation1 2s; /* Fx 5+ */
    -o-animation: span-animation1 2s; /* Opera 12+ */
    animation: span-animation1 2s; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes span-animation1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes span-animation1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes span-animation1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes span-animation1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes span-animation2 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes span-animation2 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes span-animation2 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes span-animation2 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 600px) {
    .welcome span {
        font-size: 24pt;
    }
    .welcome input {
        font-size: 24pt;
        width: 80%;
    }
}