.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding-top: 100px;
    margin: 30px auto;
}

.form h1 {
    text-align: center;
    margin: 3px;
}

.form {
    background-color: #cccfd3;
    min-width: 400px;
    padding: 24px;
}