.course h3 {
    text-align: center;
    color: #cccfd3;
}

.div-column h4 {
    text-align: center;
    margin: 4px 0;
    text-transform: none;
    font-size: 14px;
}

.course .bar {
    margin: 4px 8px;
}

.course .bar b {
    margin: 0 8px;
}