.paper {
    max-width: 600px;
    display: flex;
    margin: 20px auto;
    border-radius: 4px;
    background: #fff;
    flex-direction: column;
}

.paper h3 {
    margin: 0;
}

.main h4{
    text-align: center;
    margin: 20px 0 30px 0;
}

.div-row {
    display: flex;
    flex-direction: row;
    width: 100%
}

.div-column {
    display: flex;
    flex-direction: column;
}

.div-row h3 {
    text-align: center;
}

.div-row .field {
    margin: 8px;
}